<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Environment" value="Debug"/>
    <add key="SQLSERVER_CONNECTION_STRING" value="Data Source=BOSSOJ-PC\SQLEXPRESS;Initial Catalog=EFMigrationSample.BlogContextTest;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"/>
  </appSettings>
</configuration>